body {
  background-color: rgb(231, 251, 250);
}
.header {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.page-header {
  height: 370px;
  border: 5px solid rgb(204, 196, 85);
}
img {
  width: 20%;
}
@keyframes slidin{
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 6%;
    width: 100%;
  }
}
.Background{
  margin-left: 5%;
  animation-duration: 2s;
  animation-name: slidin;
}
.Background p{
  width: 600px;
  margin-left: 2%;
}
.Background h3 {
  margin-left: 2%;
}
.Background h4 {
  margin: 2%;
}
.projTitle{
  position: relative;
  left: 25px;
}
.container-fluid{
  width: 100%;
  margin-top: 2%;
}
ol li{
  padding:1%;
  width: 110%
}
.ihs{
  
}
.left-img{
  float: left;
  margin-left: 5%;
  max-height: 80%;
}
.center-img{
  margin-left: 15%;
}
.right-img{
  float: right;
  margin-right: 5%;
  height: 80%;
  width: 20%;
}